body {
        /* margin: auto; */
        margin-right: 10em;
        margin-left: 10em;
        padding-top: 0;
        margin-top: 0;
        /* padding: 10em; */

        font-size: 14pt;
        color: var(--text-color);
        font-family: Raleway;
        background-color: var(--header-color);
        overflow-wrap: break-word;
        hyphens: auto;
}

code {
        font-family: monospace;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
        text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
        font-family: Raleway;
        font-weight: bold;
        /* border-bottom: 1px dotted black; */
}

h1 {
        font-size: 250%;

}

h2 {
        font-size: 150%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}

dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        text-align: center;
}


@media (max-width: 768px) {
    h1 {
        font-size: 150%; 
    }

    body {
        margin: 10%;
    }
}
