html, body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: Raleway;
    background-color: var(--bg);
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav span{
    display:inline-block;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    text-decoration: none;
    color: black;
}
.nav a{
    text-decoration: none;
}
h1 {
    font-size: 200%;
}