:root {
    --img-drop-shadow: #a6f1a6;
    --text-drop-shadow: #D8CCEB;
    --header-color: #e0ffff;
    --text-color: #0a2a32;
}


.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 
            55%, 
            var(--text-drop-shadow) 50%);
}

.highlightable:hover {
    background: linear-gradient(180deg,rgba(255,255,255,0) 
    65%, 
    var(--text-drop-shadow) 50%);
}


