#tl, figcaption {
    max-width: 70%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column0 {
    width: 30%;
    padding-left: 5%;

}

.column1 {
    width: 70%;
    padding-left: 0;

}

.column2 {
    padding-left: 5%;
    width: 100%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.quickfacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gallery {
    width: 24%;
    height: auto;
}

.thumbnail {
    width: 48%;
}
@media (max-width: 768px) {
    
.column {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
}

.gallery {
    width: 49%;
}
.thumbnail {
    width: 100%;
}
.column1 {
    padding-left: 5%;
}

h1 {
    font-size: 150%;
}
}
